<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="560" height="138" id="banner_apoiadores_cadastro2" align="middle">
    <param name="movie" value="<?php echo $this->webroot . 'flash/banner_apoiadores_cadastro2.swf' ?>">
    <param name="quality" value="autohigh">
    <param name="bgcolor" value="#ffffff">
    <param name="play" value="true">
    <param name="loop" value="true">
    <param name="wmode" value="transparent">
    <param name="scale" value="showall">
    <param name="menu" value="true">
    <param name="devicefont" value="false">
    <param name="salign" value="">
    <param name="allowScriptAccess" value="sameDomain">
    <!--[if !IE]>-->
    <object type="application/x-shockwave-flash" data="<?php echo $this->webroot . 'flash/banner_apoiadores_cadastro2.swf' ?>" width="560" height="138">
        <param name="movie" value="<?php echo $this->webroot . 'flash/banner_apoiadores_cadastro2.swf' ?>">
        <param name="quality" value="autohigh">
        <param name="bgcolor" value="#ffffff">
        <param name="play" value="true">
        <param name="loop" value="true">
        <param name="wmode" value="transparent">
        <param name="scale" value="showall">
        <param name="menu" value="true">
        <param name="devicefont" value="false">
        <param name="salign" value="">
        <param name="allowScriptAccess" value="sameDomain">
        <!--<![endif]-->
        <a href="http://www.adobe.com/go/getflash">
            <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player">
        </a>
        <!--[if !IE]>-->
    </object>
    <!--<![endif]-->
</object>
