<? $this->set("title_for_layout", "Obrigado"); ?>

<?php $this->set('hideBanner', true); ?>

<h1>Cadastro confirmado!</h1>

<p>Obrigado pelo interesse em participar deste evento. Entraremos em contato.</p>
