form {
  margin-top: 32px;
}
form input[type="text"],
form input[type="email"] {
  font-size: 1.2em;
  line-height: 1.6em;
  height: 2.2em;
}
form label {
  font-weight: bold;
  font-size: 1em;
  margin-top: 16px;
}
