<? $this->set("title_for_layout", "Inscreva seu carrinho"); ?>

<ul class="breadcrumb">
    <li>Inscrições encerradas!</li>
</ul>

<blockquote>Agora é só aguardar o início da votação.
<br><br>Boa Sorte!</blockquote>