<? $this->set("title_for_layout", "Obrigado por votar"); ?>

<meta http-equiv="Refresh" content="10; url=http://www.festivaldocachorroquente.com.br/Votos/">

<p>
	<strong>OBRIGADO!</strong><br><br>
    Seu voto foi enviado.<br>
    Agora é só torcer para o seu dogueiro!
</p>

<blockquote>Novo voto em 10 segundos...</blockquote>
