/* DataTable Styles */
div.dataTables_length label {
    float: left;
    text-align: left;
}
 
div.dataTables_length select {
    width: 75px;
}
 
div.dataTables_filter label {
    float: right;
}
 
div.dataTables_info {
    padding-top: 8px;
}
 
div.dataTables_paginate {
    float: right;
    margin: 0;
}
 
table {
/*    margin: 1em 0;*/
	margin-bottom: 6px !important;
    clear: both;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}
 
table.table thead .sorting {  }
table.table thead .sorting_asc {  }
table.table thead .sorting_desc {  }
 
table.table thead .sorting_asc_disabled {  }
table.table thead .sorting_desc_disabled {  }

.nav-box li a{
    border: solid 1px white;
    border-radius: 5px;
    box-shadow: 0 0 3px #AAA;
    background: #EFEFEF;
    width: 110px;
    height: 110px;
    text-align: center;
    float: left;
    margin: 10px;
}

.nav-box li a:hover{
    box-shadow: 0 3px 10px #000;
}

/* Mouse Over Text */
td.info{
    position:relative; /*this is the key*/
    color:#000;
    text-decoration:none;
  }

td.info span{display: none}

td.info:hover span{ /*display just on :hover state*/
    display:hidden;
    position:absolute;
    top:-60px;
    width:350px;
    border:5px solid #0cf;
    background-color:#cff; color:#000;
    text-align: center;
    padding:10px;
    z-index: 9999;
  }


/* Sticky footer styles
 -------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
.push,
#footer {
    height: 60px;
}
#footer {
    background-color: #f5f5f5;
}

#footer p {
    margin: 20px 0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Login */
.form-signin {
    max-width: 260px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #f1f1f1;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin form {
    margin-top: 20px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.sidebar-nav {
    padding: 9px 0;
}

.nav-box-container { padding-left: 260px; }

@media (max-width: 767px) {
    .sidebar-nav-fixed {
        width:auto;
    }
}

@media (max-width: 979px) {
    .sidebar-nav-fixed {
        position:static;
        width: auto;
    }
}

/* for demo purposes (fixed top navbar placement in the fiddle. Ok to remove */

@media (max-width: 767px) {
    body {
        padding-top: 0;
    }
}

@media (max-width: 979px) {
    body {
        padding-top: 0;
    }
}

#flashMessage { margin-top: 8px; }

.wysihtml5-sandbox,
.wysihtml5-toolbar { width: 600px !important; }
.wysihtml5-sandbox { height: 100px !important; }