/* ----- */
/* Geral */
/* ----- */
@fontFamily: 			"Trebuchet MS", Arial, Helvetica, sans-serif;
@red:                   #ff0000;
@baseLineHeight:        2.2em;

url(@path, @background-color: "#FBF2E3") {
	background-color: @background-color;
	background-image: url("../../img/@{path}");
}

body, html {
	font-family: @fontFamily;
	font-size: 16px;
	url("web/bg.gif")
}

a,
a:hover {
 	color: @red;
}

.container { url("white.png", transparent); }

/* ---------- */
/* Blockquote */
/* ---------- */

blockquote { background: #FCFAED; padding: 12px; border-left-color: #FFF9CB; }

.destaque { background: #FCF8E3; padding: 12px; color: @red; font-weight: bold; }

/* ------- */
/* Lateral */
/* ------- */

#menu-bg { position: relative; top: 0; right: 0; bottom: 0; left: 0; background: #fff; opacity: 0.5; }

.breadcrumb {
	color: #E30613;
	font-size: 24px;
	font-weight: bold;
	background: none;
	padding-left: 0;

	a { color: #903032; font-size: 18px; font-weight: normal; }

	.divider { color: #903032 !important; }
}

/* -------- */
/* Conteúdo */
/* -------- */

#conteudo,
#lateral {
	padding: 30px;
}

#lateral {
    width: 320px;
    padding-left: 0;
    padding-right: 0;
    img { padding-bottom:30px; }
    small { font-style: italic; color: #999; margin: 4px 0; font-size: .9em; }
    .nav {
        ul { list-style: none; }
        a {
            color: #000000; padding: 4px; display: block; font-size: 1em;
            &:hover { color: #E30613; }
        }
        > li a {
            font-weight: bold;
            &:hover { background-color: #F8E6D3; }
        }
    }
    > a,
    .nav li a,
    > small,
    .addthis_toolbox {
        padding-left: 30px;
        padding-right: 30px;
    }
}

#conteudo {
	min-height: 1280px;
	background-color: #fff;
    border-left: 1px solid #F5DDC8;
}

#banner {
	width:600px;
	margin:auto;
	padding-top:15px;
	padding-bottom:10px;
}

/* -------- */
/* Materias */
/* -------- */

.materia {
	height: 280px;

	img { width: 250px; height: 199px; }
	strong { width: 250px; display: block; margin-top: 30px; font-size: 15px; height: 58px; }
}

.align-center { text-align: center; }
.fancybox img { margin: 4px 1px; }


.top30 {
  .top3 { color: #990000; }
  li { line-height: @baseLineHeight; }
}

.destaque { color: @red; font-weight: bold; }

.dev { background:#F2F2F2; font-style: italic; padding: 5px; margin-top: 20px; }
.more { margin-top: 16px; }

.patrocinador {
    height: 150px;
    img { max-width: 210px; max-height: 110px; }
}

.underline { text-decoration: underline; }