<? $this->set("title_for_layout", "Fale conosco"); ?>

<? $this->assign('banner', ''); ?>
<? $this->assign('release', ''); ?>

<ul class="breadcrumb">
    <li>Fale Conosco</li>
</ul>

<p>Dúvidas ou contatos para patrocínio:<br />
<a href="mailto:contato@festivaldocachorroquente.com.br">contato@festivaldocachorroquente.com.br</a></p>

<br>

<p>
    <strong>Telefones:</strong><br />
    (11) 7105-7334 (Vivo)<br />
    (11) 3685-1128 (Comercial)<br />
	<? /* (11) 7699-1630 (Claro)<br />
    (11) 7026-4254 (Tim) */ ?>
</p>

<br>

<p><strong>Facebook</strong>:<br />
    <a href="http://www.facebook.com/festivaldocachorroquente" target="_blank">www.facebook.com/festivaldocachorroquente</a></p>

<br>

<p><strong>Twitter</strong>:<br />
    <a href="http://www.twitter.com/hotdogosasco" target="_blank">www.twitter.com/hotdogosasco</a></p>
