<? $this->set("title_for_layout", "História do Cachorro Quente"); ?>

<?php $this->set('hideBanner', true); ?>
<?php $this->set('hideRelease', true); ?>

<ul class="breadcrumb">
    <li><a href="/sobre/introducao">Sobre o Festival</a> <span class="divider">&raquo;</span></li>
    <li>História do Cachorro Quente</li>
</ul>

<p>Existem três teorias sobre o surgimento desse peculiar sanduíche:</p>
<ol>
    <li>A mais conhecida é a de um açougueiro de Frankfurt, na Alemanha. Em 1852, ele resolveu batizar as salsichas que fabricava com o nome de seu cachorro bassê.</li>
    <li>Um imigrante alemão, Charles Feltman, levou essa salsicha para os Estados Unidos em 1880. Lá, criou um sanduíche quente com pão, salsicha e molhos.</li>
    <li>Em 1904, na cidade de Saint Louis, nos Estados Unidos, um vendedor de salsichas quentes criou uma maneira de seus fregueses não queimarem as mãos. A quem comprasse suas salsichas, ele oferecia luvas de algodão limpíssimas. Só que os clientes esqueciam de devolve-las e ele acabava tendo prejuízo. Seu cunhado, que era padeiro, sugeriu que o salsicheiro pusesse as luvas de lado e começasse a usar pães.</li>
</ol>
<p>No Brasil, por volta de 1926, o empresário Francisco Serrador, que idealizou a famosa Cinelândia, no centro da cidade do Rio de Janeiro, lança o cachorro-quente em seus cinemas. A novidade inspirou Lamartine Babo e Ary Barroso, a criarem em 1928, a marchinha de carnaval "Cachorro-Quente":</p>

<blockquote>"Comer / Cachorro quente lá no bar<br />
    Por certo a moda vai pegar / Por não ser vulgar...<br />
    Comer / Vai toda gente ao "quarteirão"<br />
    Pois há lingüiça em profusão / Pra comer com pão...<br />
    Que bom que é lamber... / Trincar...comer...<br />
    Um cachorrinho tentador / No quarteirão do Serrador<br />
    Comer é bem melhor do que beber / Pois dá sustância e faz crescer<br />
    Todo e qualquer ser...<br />
    Comer / É verbo bom de conjugar<br />
    Quando queremos conquistar / Um "pirão" no bar..."</p>
</blockquote>

<p>E a partir de 1945, depois da Segunda Guerra Mundial, quando o Brasil passou a sofrer grande influência da cultura americana, o cachorro-quente conquistou definitivamente seu espaço nesse país.</p>
<br>
<p><strong>Fonte:</strong> <a href="http://pt.wikipedia.org/wiki/Cachorro-quente">http://pt.wikipedia.org/wiki/Cachorro-quente</a></p>
