<? $this->set("title_for_layout", "Concurso"); ?>

<? $this->fetch('banner'); ?>

<ul class="breadcrumb">
    <li><a href="/sobre/introducao/">Sobre o Festival</a> <span class="divider">&raquo;</span></li>
    <li>O Concurso</li>
</ul>

<p>
    A 2ª edição do Festival do Cachorro Quente de Osasco, irá eleger os 3 melhores
    “Hot Dog’s” da cidade através do voto popular, seguindo o seguinte cronograma de 2013:
</p>
<ul>
    <li>
        <strong>Janeiro:</strong>
        Inscrições dos “dogueiros” interessados em participar do concurso. As inscrições
        serão feitas através do site do Festival e os inscritos estarão recebendo um adesivo
        de identificação, material de divulgação e regulamento do concurso;
    </li>
    <li>
        <strong>Janeiro</strong>
        Será disponibilizado no site do festival um formulário de votação onde o consumidor/internauta
        poderá votar em seu “dogueiro predileto” por meio de um numero de identificação, podendo esse
        votar apenas 1 vez ao dia;
    </li>
    <li>
        <strong>Março</strong>
        Encerram-se as votações pela Internet, de onde serão selecionados os 30 melhores lanches da cidade,
        que receberão o selo TOP 30. A partir daí começa a campanha de marketing dos finalistas que irão
        disputar a grande final no dia 28 de abril;
    </li>
    <li>
        <strong>Abril</strong>
        Será realizada festa de encerramento com a grande final do concurso com entrada franca no período
        das 12:00 as 22:00 h no Boulevart/Calçadão da Rua Antônio Agú, que além do espaço e fácil acesso,
        é onde encontra-se maior concentração de “dogueiros” de Osasco.
    </li>
</ul>

<h4 class="destaque">Concurso do melhor cachorro-quente</h4>
<p>
    No local, as votações terão início as 13:00h com encerramento previsto para as 20:00h, será
    informatizada e disponibilizada em 5 cabines com urnas eletrônicas.
</p>
<p>
    O consumidor, após degustar os lanches dos carrinhos participantes, receberá uma senha
    como o número do finalista, que dará acesso as urnas, onde o mesmo só poderá votar uma
    única vez em seu lanche preferido.
</p>
<p>
    O sistema de votação será acompanhado por fiscais indicados pelos finalistas que estarão
    monitorando todo o processo para que se elimine a possibilidade de qualquer tipo de fraude;
</p>
<p>
    Os votos serão apresentados ao termino das festividades em um telão disponibilizado no local
    onde serão apresentados os vencedores, sendo eles 3: 1º, 2º e 3º colocado escolhidos pelo voto
    popular, ou seja, vencerá o “dogueiro” que tiver o maior número de votos (somando os votos online
    aos obtidos no local) e que manteve durante o concurso o melhor atendimento, higiene e sabor e a
    melhor campanha de divulgação.
</p>

<h4 class="destaque">Campeonato de quem come mais cachorro-quente</h4>
<p>
    O campeonato acontecerá em uma única etapa, os interessados deverão se inscrever pelo site do
    evento e no dia será feito um sorteio onde 15 pessoas irão disputar quem come mais Hot Dog’s em
    apenas 5 minutos!
</p>

<p class="more"><? echo $this->Html->link('Saiba mais...', array('controller' => 'sobre', 'action' => 'programacao')) ?></p>
