<? $this->set("title_for_layout", "Equipe"); ?>

<ul class="breadcrumb">
    <li><a href="/sobre/introducao/">Sobre o Festival</a> <span class="divider">&raquo;</span></li>
    <li>Equipe</li>
</ul>

<blockquote>
    <ul class="unstyled">
        <li><strong>Marcos Mello</strong> - Organizador e coordenador</li>
        <li><strong>Dr. Dalton Tafarello</strong> - Assessoria jurídica</li>
        <li><strong>Anna Oliveira</strong> - Nutricionista</li>
        <li><strong>Vinicius Leite</strong> - Informatização e suporte</li>
        <li><strong>Evandro Temperini</strong> - Identidade visual, projeto gráfico e website</li>
        <li><strong>Juliana Ruiz</strong> - Web Marketing</li>
    </ul>
</blockquote>
