<? $this->set("title_for_layout", "Sobre"); ?>

<ul class="breadcrumb">
    <li><a href="/sobre/introducao/">Sobre o Festival</a> <span class="divider">&raquo;</span></li>
    <li>Introdução</li>
</ul>

<p>
    <strong>"Capital do Cachorro Quente”</strong> assim passou a ser conhecida a
    cidade de Osasco com a realização do <strong>1º Festival do Cachorro Quente</strong>
    realizado nos meses de janeiro / fevereiro e março de 2012.
</p>
<p>
    Um projeto inovador que movimentou a região e trouxe a público essa peculiaridade
    de nossa cidade, Osasco é a segunda cidade no mundo que mais se consome <em>“Hot Dog’s”</em>
    ficando atrás apenas de <em>Nova Iorque</em>, nos <em>Estados Unidos da América</em>.
</p>
<p>
    Anterior ao festival, a cidade consumia em torno de 100.000 lanches por dia,
    no entanto com a repercussão do evento, divulgado em toda mídia nacional (mídia
    televisiva, impressa, digital e rádio) esse número teve um aumento significativo de
    40% no consumo dessa iguaria em nossa cidade, atraindo ainda pessoas de várias
    regiões e curiosos, por tamanha repercussão.
</p>

<blockquote>"Como outras tantas da culinária de rua brasileira, a tradição do cachorro-quente em
    Osasco teve sua origem em época de crise econômica. O fenômeno da multiplicação dos
    pães com salsichas começou há cerca de 20 anos, quando a prefeitura da cidade passou a
    conceder licenças para pessoas de baixa, ou nenhuma, renda se estabelecerem como vendedores
    ambulantes no calçadão. Diante da alta procura por licenças, com o decorrer dos anos foi
    preciso que a prefeitura estabelecesse algumas regras para organizar a demanda."

    <small>Edmundo Leite – Jornalista do Estadão</small>
</blockquote>

<blockquote>"São quase 75 mil cachorros-quentes por dia. Quando os 550 carrinhos licenciados
    estão nas ruas estes números passam de 100 mil lanches. Deste total 90% são vendidos na
    região central onde ficam o Calçadão da Antônio Agu e a avenida Maria Campos. <br />
    O primeiro local registra maior número de vendas durante o dia. O segundo é um verdadeiro
    oásis aos amantes de ‘hot dog’ e da vida noturna. Na Av. Maria Campos, o comércio de lanches
    aquece durante toda a  madrugada, quando os  carrinhos se enfileiram sobre a calçada. No cardápio,
    além dos tradicionais ingredientes (salsicha, mostarda, catchup e maionese) estão á disposição mais de
    10 opções de recheios."

    <small>Simone Perez – Jornalista do Diário da Região</small>
</blockquote>

<p><strong>Nosso objetivo:</strong> Divulgar a cidade de Osasco através das principais mídias nacionais e buscar o reconhecimento de <em><strong>“Capital Nacional do Cachorro Quente”</strong></em> na intenção de com isso atrair turistas e investimentos para nossa cidade, seguindo o exemplo de cidades como: Itú (Cidade dos Exageros), Embu (Artes), São Roque (Vinho), Guararema (Orquideas), Ibitinga (Bordados), dentre muitas outras... <br />

<p class="more"><? echo $this->Html->link('Saiba mais...', '/') ?></p>
